body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333333;
}

/* HEADER STYLING */
header {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin-bottom: 12px;
}

header h1 {
    font-weight: bold;
    padding: 12px 20px;
}

/* SEARCH SECTION STYLING */
.search {
    
}

.search-form {
    border-bottom: 1px solid #666666;
    margin-bottom: 6px;
}

.search input {
    padding: 6px;
    width: 100%;
}

.btn {
    background: lightslategray;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    margin: 6px;
}

.search-form button {
    color: white;
    background: darkblue;
    margin: 12px 0px;
}

.saved-cities {
    
}

.city-btn {

}

/* RESULTS SECTION STYLING */
.results {
    
}

.favorable, .moderate, .severe {
    color: white;
    padding: 3px 8px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: darkorange;
}

.severe {
    background-color: darkred;
}

.weather-block {
    background-color: darkblue;
    color: white;
    padding: 16px 24px 0 24px;
    margin: 12px;
}